* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #e0f2f1, #f1f8f6);
}

header {
    background-color: #00695c;
    color: white;
    text-align: center;
    padding: 30px;
}

.btn-container {
    text-align: center;
    margin: 20px;
}

.btn-container button {
    padding: 10px 22px;
    margin: 6px;
    background-color: #26a69a;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn-container button:hover {
    background-color: #004d40;
}

.section {
    display: none;
    max-width: 1000px;
    margin: auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
}

.section h2 {
    color: #00695c;
    margin-bottom: 15px;
}

.course-card {
    background-color: #f0fdfa;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
}

.progress {
    background-color: #cfd8dc;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar {
    background-color: #26a69a;
    color: white;
    padding: 6px;
    text-align: center;
    font-weight: bold;
}

.video-container {
    text-align: center;
}

iframe {
    width: 100%;
    height: 400px;
    border-radius: 12px;
}

footer {
    background-color: #00695c;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
